body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Flavors';font-size: 22px;
}

header {
  width: 100%;
  height: 100vh;
  background: url(https://images.pexels.com/photos/831243/pexels-photo-831243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 40px;
  color: grey;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 20px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: transparent;
  color: black;
  overflow: hidden;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: grey;
  font-size: 25px;
}

nav ul li:hover{
  background-color: rgb(32, 30, 30);
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgb(0, 0, 92);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(0, 0, 92);
  }
  
  .contactme {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }