body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Charm';font-size: 22px;
    background: url(https://images.pexels.com/photos/831243/pexels-photo-831243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);

}

header {
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/831243/pexels-photo-831243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
}

.img-main {
    position: relative;
    height: 0;
    background-color: #222;
    background-image: url('atn');
    background-size: cover;
    background-position: center;
    padding-top: 100%;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 40px;
    color: grey;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: transparent;
    color: black;
    overflow: hidden;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
}

nav ul li a {
    text-decoration: none;
    color: grey;
    font-size: 25px;
}

nav ul li:hover{
    background-color: rgb(32, 30, 30);
}

#introduction {
    color: rgb(128, 130, 131);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#intro1 {
    font-size: 50px;
}
#intro2 {
    font-size: 30px;
}

#links {
        position:fixed;
        margin-bottom: 60px;
        bottom:0;
        left:0;
        width:100%;
        height: 50px;
        text-align: center;
        background-color: transparent;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul {
    list-style: none;

}


