body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Charm';font-size: 22px;
}

header {
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/831243/pexels-photo-831243.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 40px;
    color: grey;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: transparent;
    color: black;
    overflow: hidden;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
}

nav ul li a {
    text-decoration: none;
    color: grey;
    font-size: 25px;
}

nav ul li:hover{
    background-color: rgb(32, 30, 30);
}

#introduction {
    color: rgb(128, 130, 131);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#intro1 {
    font-size: 50px;
}
#intro2 {
    font-size: 30px;
}

footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
}





/** {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    font-size: 15px;
}
/*#myname {
    float: left;
    text-decoration: none;
    color: rgb(128, 130, 131);;
    padding: 30px;
    font-size: 30px;
    display: inline-block;
    transition: 0.7s all;
}
#myname:hover {
    background-color: white;
}

nav {
    width: 100%;
    height: 50px;
    background-color: transparent;
    line-height: 50px;
    justify-content: space-between;
}
nav ul {
    display: flex;
    float: right;
    margin-right: 30px;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
}
nav ul li:hover{
    background-color: white;
}
nav ul li a {
    display: blocks;
    text-decoration: none;
    color: rgb(128, 130, 131);
    padding: 30px

}


*/

